        body {
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .contenedor {
            display: grid;
            grid-template-areas:
                "cabecera cabecera"
                "sidebar main"
                "footer footer";
            overflow: hidden;
            grid-template-columns: .2fr 1fr;
            grid-template-rows: .25fr 1fr .2fr;
            gap: 10px;
            margin: 5%;
            max-height: fit-content;
            
        }

        .cabecera {
            grid-area: cabecera;
            text-align: center;
            background-color: pink;
            color: black;
            position: sticky;
            top: 0;
            z-index: 100;
        }

        .sidebar {
            grid-area: sidebar;
            padding: 20px;
            background-color: pink;
            color: white;
            display: flex;
            flex-direction: column;
        }

        .sidebar button {
            width: 100%;
            margin: 5px 0;
            padding: 10px;
            background-color: whitesmoke;
            border: none;
            color: black;
            cursor: pointer;
            border-radius: 5px;
        }
        button {
            width: 150PX;
            margin: 5px 0;
            padding: 10px;
            background-color: purple;
            border: none;
            color: black;
            cursor: pointer;
            border-radius: 5px;
        }

        .foto {
            width: 576px; 
            height: auto; 
        }

        .main {
            grid-area: main;
            background-color: #f6f6f6;
            border-radius: 20px;
            display: grid;
            grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
            gap: 10px;
            padding: 10px;
        }
        .gira>.foto{
            position: relative;
            left: 50%;
            top: -150px;
        }
        .gira>#texto{
            max-width: 50%;
        }
        .gira>#titulo{
            max-width: 50%;
            position: relative;
            left: 250px;
        }
        .gira button{
            max-width: 50%;
            position: relative;
            top: -250px;
            right: -15%;
        }
        .artista>#texto{
            max-width: 50%;
            position: relative;
            left: 50%;
            top: -500px;
        }
        .artista>#titulo{
            max-width: 50%;
            position: relative;
            left: 65%;
            top: -500px;
        }
        .artista>.foto{
            max-width: 50%;
            position: relative;
            top: -200px;
        }
        .artista button{
            max-width: 50%;
            position: relative;
            top: -500px;
            left: 65%;
        }
        .footer {
            grid-area: footer;
            line-height: 60px;
            background-color:pink;
            color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer>p:first-of-type{
            margin-left: 2em;
        }

        .footer>p:nth-of-type(2){
            margin-right: 2em;
        }

        @media (max-width: 800px) {
            .contenedor {
                grid-template-areas:
                    "cabecera"
                    "sidebar"
                    "main"
                    "footer";
                grid-template-rows: 1fr;
            }

            .cabecera{
                position: sticky;
                top: 0;
            }
        }