body {
            margin: 0;
            font-family: sans-serif;
        }

        .main {
            grid-area: main;
            background-color: #f6f6f6;
            border-radius: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 10px;
            padding: 10px;
        }
        h1{
            position: relative;
            left: 45%;
        }
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 10px;
        }

        .card img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
        }
        @media (max-width: 700px) {
            .contenedor {
                grid-template-areas:
                    "cabecera"
                    "sidebar"
                    "main"
                    "footer";
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }
        }